@model IEnumerable<Datos.Marca>

@{
    ViewBag.Title = "Index";
}

<h1>MANTENIMIENTO DE MARCAS</h1>

<p>
    @Html.ActionLink("Crear Marca", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Denominacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Denominacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
